## Import OGER output

In [41]:
%%time

import pandas as pd
from datetime import datetime
# pd.options.mode.chained_assignment = None  # default='warn'

CPU times: user 11 µs, sys: 1e+03 ns, total: 12 µs
Wall time: 14.1 µs

In [46]:
cols = ['BiosampleID', 'Biolink', 'BeginTerm', 'EndTerm', 'TokenizedTerm', 'PreferredTerm', 'CURIE', 'NaN1', 'S-Type', 'NaN2', 'UMLS_CUI']
df = pd.read_csv('../output/FullNLPOutput.tsv', sep='\t', names=cols )
df = df.drop(['NaN1', 'NaN2', 'UMLS_CUI'], axis = 1)
print('Total number of rows: ', str(len(df)))
df.head()

Total number of rows:  2386121

,BiosampleID,Biolink,BeginTerm,EndTerm,TokenizedTerm,PreferredTerm,CURIE,S-Type
0,SAMN10586215,biolink:OntologyClass,16,24,contains,contains,RO:0001019,S1
1,SAMN10586215,biolink:OrganismalEntity,119,127,Bacteria,Bacteria,NCBITaxon:2,S1
2,SAMN05720810,biolink:OntologyClass,50,57,part of,part of,BFO:0000050,S1
3,SAMN05720810,biolink:OntologyClass,79,90,Agriculture,agricultural process,ENVO:01001246,S1
4,SAMN05720810,biolink:OntologyClass,79,90,Agriculture,animal husbandry,ENVO:01001248,S1

In [3]:
print('Unique BiosampleIds: '+ str(len(df.BiosampleID.unique())))
print('Unique CURIEs: '+ str(len(df.CURIE.unique())))
print('Unique Biolinks: '+ str(len(df.Biolink.unique())))
print('Unique Standard Terms: '+ str(len(df.PreferredTerm.unique())))

Unique CURIEs: 1686
Unique Biolinks: 4
Unique Standard Terms: 1677

In [4]:
curieOfInterest = ['ENVO', 'PATO']
envoPato = df[df.CURIE.str.contains('|'.join(curieOfInterest))]
print('Number of rows: '+ str(len(envoPato)))
envoPato.head()

Number of rows: 1222326

,BiosampleID,Biolink,BeginTerm,EndTerm,TokenizedTerm,PreferredTerm,CURIE,S-Type
3,SAMN05720810,biolink:OntologyClass,79,90,Agriculture,agricultural process,ENVO:01001246,S1
4,SAMN05720810,biolink:OntologyClass,79,90,Agriculture,animal husbandry,ENVO:01001248,S1
5,SAMN05720810,biolink:OntologyClass,79,90,Agriculture,agriculture,ENVO:01001442,S1
8,SAMN15691669,biolink:OntologyClass,52,68,marine sediments,marine sediment,ENVO:03000033,S1
12,SAMN14402390,biolink:OntologyClass,47,58,rhizosphere,rhizosphere,ENVO:00005801,S1

In [5]:
salineTerms = ['sali', 'salt']
envPatSal = envoPato[envoPato.PreferredTerm.str.contains('|'.join(salineTerms))]
print('Number of rows: '+ str(len(envPatSal)))
envPatSal.head()

Number of rows: 20083

,BiosampleID,Biolink,BeginTerm,EndTerm,TokenizedTerm,PreferredTerm,CURIE,S-Type
60,SAMN09200348,biolink:OntologyClass,0,7,Wetland,saline marsh,ENVO:00000054,S1
572,SAMN13482251,biolink:OntologyClass,11,15,Lake,saline evaporation pond,ENVO:00000055,S1
575,SAMN13482251,biolink:OntologyClass,11,15,Lake,container of an intermittent saline lake,ENVO:00000502,S1
582,SAMN13482251,biolink:OntologyClass,11,15,Lake,intermittent saline evaporation pond,ENVO:00000532,S1
772,SAMN10915792,biolink:OntologyClass,0,4,Lake,saline evaporation pond,ENVO:00000055,S1

### Form Phrases for each biosample

In [44]:
%%time
# Function to phrase-ify
def phrasify(bsIdList, columnNames):
    count = 0
    returnDF = pd.DataFrame(columns=columnNames)
    for i in bsIdList:
        count += 1
        tmpDF = pd.DataFrame()
        bpList = []
        phrase1 = []
        phrase2 = []

        tmpDF = df.loc[(df.BiosampleID == i)]
        tmpDF.sort_values(by=['BeginTerm'], inplace=True)
        break;

        for row in tmpDF.iterrows():
            bpList.append(row[1].BeginTerm)
            phrase1.append(row[1].TokenizedTerm)
            phrase2.append(row[1].PreferredTerm)

        returnDF = returnDF.append(pd.DataFrame([[i, bpList, phrase1, phrase2]], columns=columnNames))
        if count % 1000 == 0:
                print('Counter value: '+ str(count//1000)+ 'K - '+ datetime.now().strftime("%d/%m/%Y %H:%M:%S"))
        
    return returnDF

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.87 µs

In [ ]:
%%time

pCols = ['BiosampleID', 'BeginPosList', 'Phrase', 'StdPhrase']
phraseDF = phrasify(df.BiosampleID.unique(),pCols)
phraseDF.head()

Counter value: 1K - 22/10/2020 18:27:22
Counter value: 2K - 22/10/2020 18:30:13
Counter value: 3K - 22/10/2020 18:33:02
Counter value: 4K - 22/10/2020 18:35:51
Counter value: 5K - 22/10/2020 18:38:40
Counter value: 6K - 22/10/2020 18:41:33
Counter value: 7K - 22/10/2020 18:44:22
Counter value: 8K - 22/10/2020 18:47:12
Counter value: 9K - 22/10/2020 18:50:01
Counter value: 10K - 22/10/2020 18:52:55
Counter value: 11K - 22/10/2020 18:55:45
Counter value: 12K - 22/10/2020 18:58:34
Counter value: 13K - 22/10/2020 19:01:25
Counter value: 14K - 22/10/2020 19:04:15
Counter value: 15K - 22/10/2020 19:07:05
Counter value: 16K - 22/10/2020 19:09:56
Counter value: 17K - 22/10/2020 19:12:50
Counter value: 18K - 22/10/2020 19:15:40
Counter value: 19K - 22/10/2020 19:18:25
Counter value: 20K - 22/10/2020 19:21:09
Counter value: 21K - 22/10/2020 19:23:46
Counter value: 22K - 22/10/2020 19:26:26
Counter value: 23K - 22/10/2020 19:29:05
Counter value: 24K - 22/10/2020 19:31:50
Counter value: 25K - 22/10/2020 19:34:27
Counter value: 26K - 22/10/2020 19:37:05
Counter value: 27K - 22/10/2020 19:39:42
Counter value: 28K - 22/10/2020 19:42:26
Counter value: 29K - 22/10/2020 19:45:05
Counter value: 30K - 22/10/2020 19:47:44
Counter value: 31K - 22/10/2020 19:50:22
Counter value: 32K - 22/10/2020 19:53:01
Counter value: 33K - 22/10/2020 19:55:39
Counter value: 34K - 22/10/2020 19:58:18
Counter value: 35K - 22/10/2020 20:01:01
Counter value: 36K - 22/10/2020 20:03:46
Counter value: 37K - 22/10/2020 20:06:34
Counter value: 38K - 22/10/2020 20:09:14
Counter value: 39K - 22/10/2020 20:11:54
Counter value: 40K - 22/10/2020 20:14:35
Counter value: 41K - 22/10/2020 20:17:21
Counter value: 42K - 22/10/2020 20:20:04
Counter value: 43K - 22/10/2020 20:22:45
Counter value: 44K - 22/10/2020 20:25:26
Counter value: 45K - 22/10/2020 20:28:12
Counter value: 46K - 22/10/2020 20:30:58
Counter value: 47K - 22/10/2020 20:33:43
Counter value: 48K - 22/10/2020 20:36:31
Counter value: 49K - 22/10/2020 20:39:17
Counter value: 50K - 22/10/2020 20:42:05
Counter value: 51K - 22/10/2020 20:44:51
Counter value: 52K - 22/10/2020 20:47:36
Counter value: 53K - 22/10/2020 20:50:23
Counter value: 54K - 22/10/2020 20:53:09
Counter value: 55K - 22/10/2020 20:55:59
Counter value: 56K - 22/10/2020 20:58:48
Counter value: 57K - 22/10/2020 21:01:33
Counter value: 58K - 22/10/2020 21:04:19
Counter value: 59K - 22/10/2020 21:07:07
Counter value: 60K - 22/10/2020 21:09:50
Counter value: 61K - 22/10/2020 21:12:35
Counter value: 62K - 22/10/2020 21:15:18
Counter value: 63K - 22/10/2020 21:18:01
Counter value: 64K - 22/10/2020 21:20:42
Counter value: 65K - 22/10/2020 21:23:25
Counter value: 66K - 22/10/2020 21:26:07
Counter value: 67K - 22/10/2020 21:28:50
Counter value: 68K - 22/10/2020 21:31:33
Counter value: 69K - 22/10/2020 21:34:15
Counter value: 70K - 22/10/2020 21:36:58
Counter value: 71K - 22/10/2020 21:39:41
Counter value: 72K - 22/10/2020 21:42:24
Counter value: 73K - 22/10/2020 21:45:09
Counter value: 74K - 22/10/2020 21:48:05
Counter value: 75K - 22/10/2020 21:51:01
Counter value: 76K - 22/10/2020 21:53:58
Counter value: 77K - 22/10/2020 21:56:55
Counter value: 78K - 22/10/2020 21:59:52
Counter value: 79K - 22/10/2020 22:02:51
Counter value: 80K - 22/10/2020 22:05:54
Counter value: 81K - 22/10/2020 22:08:52
Counter value: 82K - 22/10/2020 22:11:48
Counter value: 83K - 22/10/2020 22:14:46
Counter value: 84K - 22/10/2020 22:17:46
Counter value: 85K - 22/10/2020 22:20:44
Counter value: 86K - 22/10/2020 22:23:41
Counter value: 87K - 22/10/2020 22:26:38
Counter value: 88K - 22/10/2020 22:29:35
Counter value: 89K - 22/10/2020 22:32:34
Counter value: 90K - 22/10/2020 22:35:32
Counter value: 91K - 22/10/2020 22:38:31
Counter value: 92K - 22/10/2020 22:41:30
Counter value: 93K - 22/10/2020 22:44:29
Counter value: 94K - 22/10/2020 22:47:28
Counter value: 95K - 22/10/2020 22:50:28
Counter value: 96K - 22/10/2020 22:53:27
Counter value: 97K - 22/10/2020 22:56:25
Counter value: 98K - 22/10/2020 22:59:25
Counter value: 99K - 22/10/2020 23:02:23
Counter value: 100K - 22/10/2020 23:05:21
Counter value: 101K - 22/10/2020 23:08:19
Counter value: 102K - 22/10/2020 23:11:20
Counter value: 103K - 22/10/2020 23:14:19
Counter value: 104K - 22/10/2020 23:17:19
Counter value: 105K - 22/10/2020 23:20:20
Counter value: 106K - 22/10/2020 23:23:19
Counter value: 107K - 22/10/2020 23:26:21
Counter value: 108K - 22/10/2020 23:29:21
Counter value: 109K - 22/10/2020 23:32:22
Counter value: 110K - 22/10/2020 23:35:23
Counter value: 111K - 22/10/2020 23:38:25
Counter value: 112K - 22/10/2020 23:41:25
Counter value: 113K - 22/10/2020 23:44:28
Counter value: 114K - 22/10/2020 23:47:31
Counter value: 115K - 22/10/2020 23:50:33
Counter value: 116K - 22/10/2020 23:53:37
Counter value: 117K - 22/10/2020 23:56:41
Counter value: 118K - 22/10/2020 23:59:45
Counter value: 119K - 23/10/2020 00:02:49
Counter value: 120K - 23/10/2020 00:05:54
Counter value: 121K - 23/10/2020 00:08:58
Counter value: 122K - 23/10/2020 00:12:02
Counter value: 123K - 23/10/2020 00:15:06
Counter value: 124K - 23/10/2020 00:18:11
Counter value: 125K - 23/10/2020 00:21:16
Counter value: 126K - 23/10/2020 00:24:22
Counter value: 127K - 23/10/2020 00:27:26
Counter value: 128K - 23/10/2020 00:30:31
Counter value: 129K - 23/10/2020 00:33:37
Counter value: 130K - 23/10/2020 00:36:43
Counter value: 131K - 23/10/2020 00:39:50
Counter value: 132K - 23/10/2020 00:42:56
Counter value: 133K - 23/10/2020 00:46:02
Counter value: 134K - 23/10/2020 00:49:08
Counter value: 135K - 23/10/2020 00:52:14
Counter value: 136K - 23/10/2020 00:55:20
Counter value: 137K - 23/10/2020 00:58:26
Counter value: 138K - 23/10/2020 01:01:33
Counter value: 139K - 23/10/2020 01:04:40
Counter value: 140K - 23/10/2020 01:07:46
Counter value: 141K - 23/10/2020 01:10:53
Counter value: 142K - 23/10/2020 01:14:00
Counter value: 143K - 23/10/2020 01:17:07
Counter value: 144K - 23/10/2020 01:20:14
Counter value: 145K - 23/10/2020 01:23:22
Counter value: 146K - 23/10/2020 01:26:29
Counter value: 147K - 23/10/2020 01:29:37
Counter value: 148K - 23/10/2020 01:32:44
Counter value: 149K - 23/10/2020 01:35:52
Counter value: 150K - 23/10/2020 01:39:00
Counter value: 151K - 23/10/2020 01:42:08
Counter value: 152K - 23/10/2020 01:45:16
Counter value: 153K - 23/10/2020 01:48:24
Counter value: 154K - 23/10/2020 01:51:34
Counter value: 155K - 23/10/2020 01:54:41
Counter value: 156K - 23/10/2020 01:57:50
Counter value: 157K - 23/10/2020 02:00:59
Counter value: 158K - 23/10/2020 02:04:07
Counter value: 159K - 23/10/2020 02:07:15
Counter value: 160K - 23/10/2020 02:10:24
Counter value: 161K - 23/10/2020 02:13:33
Counter value: 162K - 23/10/2020 02:16:44
Counter value: 163K - 23/10/2020 02:19:53
Counter value: 164K - 23/10/2020 02:23:02
Counter value: 165K - 23/10/2020 02:26:11
Counter value: 166K - 23/10/2020 02:29:21
Counter value: 167K - 23/10/2020 02:32:30
Counter value: 168K - 23/10/2020 02:35:40
Counter value: 169K - 23/10/2020 02:38:50
Counter value: 170K - 23/10/2020 02:42:00
Counter value: 171K - 23/10/2020 02:45:10
Counter value: 172K - 23/10/2020 02:48:20
Counter value: 173K - 23/10/2020 02:51:30
Counter value: 174K - 23/10/2020 02:54:41
Counter value: 175K - 23/10/2020 02:57:51
Counter value: 176K - 23/10/2020 03:01:01
Counter value: 177K - 23/10/2020 03:04:13
Counter value: 178K - 23/10/2020 03:07:23
Counter value: 179K - 23/10/2020 03:10:33
Counter value: 180K - 23/10/2020 03:13:45
Counter value: 181K - 23/10/2020 03:16:56
Counter value: 182K - 23/10/2020 03:20:07
Counter value: 183K - 23/10/2020 03:23:18
Counter value: 184K - 23/10/2020 03:26:30
Counter value: 185K - 23/10/2020 03:29:41
Counter value: 186K - 23/10/2020 03:32:52
Counter value: 187K - 23/10/2020 03:36:04
Counter value: 188K - 23/10/2020 03:39:16
Counter value: 189K - 23/10/2020 03:42:28
Counter value: 190K - 23/10/2020 03:45:40
Counter value: 191K - 23/10/2020 03:48:52
Counter value: 192K - 23/10/2020 03:52:04
Counter value: 193K - 23/10/2020 03:55:16
Counter value: 194K - 23/10/2020 03:58:29
Counter value: 195K - 23/10/2020 04:01:41
Counter value: 196K - 23/10/2020 04:04:54
Counter value: 197K - 23/10/2020 04:08:06
Counter value: 198K - 23/10/2020 04:11:19

Counter value: 199K - 23/10/2020 04:14:34
Counter value: 200K - 23/10/2020 04:17:47
Counter value: 201K - 23/10/2020 04:21:00
Counter value: 202K - 23/10/2020 04:24:14
Counter value: 203K - 23/10/2020 04:27:27
Counter value: 204K - 23/10/2020 04:30:41
Counter value: 205K - 23/10/2020 04:33:55
Counter value: 206K - 23/10/2020 04:37:09
Counter value: 207K - 23/10/2020 04:40:23
Counter value: 208K - 23/10/2020 04:43:37
Counter value: 209K - 23/10/2020 04:46:51
Counter value: 210K - 23/10/2020 04:50:05
Counter value: 211K - 23/10/2020 04:53:19
Counter value: 212K - 23/10/2020 04:56:35
Counter value: 213K - 23/10/2020 04:59:49
Counter value: 214K - 23/10/2020 05:03:04
Counter value: 215K - 23/10/2020 05:06:19
Counter value: 216K - 23/10/2020 05:09:33
Counter value: 217K - 23/10/2020 05:12:49
Counter value: 218K - 23/10/2020 05:16:04
Counter value: 219K - 23/10/2020 05:19:20
Counter value: 220K - 23/10/2020 05:22:34
Counter value: 221K - 23/10/2020 05:25:51
Counter value: 222K - 23/10/2020 05:29:06
Counter value: 223K - 23/10/2020 05:32:22
Counter value: 224K - 23/10/2020 05:35:37
Counter value: 225K - 23/10/2020 05:38:53
Counter value: 226K - 23/10/2020 05:42:09
Counter value: 227K - 23/10/2020 05:45:26
Counter value: 228K - 23/10/2020 05:48:42
Counter value: 229K - 23/10/2020 05:51:58
Counter value: 230K - 23/10/2020 05:55:15
Counter value: 231K - 23/10/2020 05:58:31
Counter value: 232K - 23/10/2020 06:01:47
Counter value: 233K - 23/10/2020 06:05:04
Counter value: 234K - 23/10/2020 06:08:21
Counter value: 235K - 23/10/2020 06:11:37
Counter value: 236K - 23/10/2020 06:14:55
Counter value: 237K - 23/10/2020 06:18:12
Counter value: 238K - 23/10/2020 06:21:29
Counter value: 239K - 23/10/2020 06:24:47
Counter value: 240K - 23/10/2020 06:28:04
Counter value: 241K - 23/10/2020 06:31:21
Counter value: 242K - 23/10/2020 06:34:40
Counter value: 243K - 23/10/2020 06:37:57
Counter value: 244K - 23/10/2020 06:41:15
Counter value: 245K - 23/10/2020 06:44:34
Counter value: 246K - 23/10/2020 06:47:52
Counter value: 247K - 23/10/2020 06:51:11
Counter value: 248K - 23/10/2020 06:54:29
Counter value: 249K - 23/10/2020 06:57:48
Counter value: 250K - 23/10/2020 07:01:06
Counter value: 251K - 23/10/2020 07:04:25
Counter value: 252K - 23/10/2020 07:07:44
Counter value: 253K - 23/10/2020 07:11:03
Counter value: 254K - 23/10/2020 07:14:23
Counter value: 255K - 23/10/2020 07:17:41
Counter value: 256K - 23/10/2020 07:21:00
Counter value: 257K - 23/10/2020 07:24:20
Counter value: 258K - 23/10/2020 07:27:39
Counter value: 259K - 23/10/2020 07:30:58
Counter value: 260K - 23/10/2020 07:34:18
Counter value: 261K - 23/10/2020 07:37:38
Counter value: 262K - 23/10/2020 07:40:58
Counter value: 263K - 23/10/2020 07:44:18
Counter value: 264K - 23/10/2020 07:47:38
Counter value: 265K - 23/10/2020 07:50:58
Counter value: 266K - 23/10/2020 07:54:19
Counter value: 267K - 23/10/2020 07:57:40
Counter value: 268K - 23/10/2020 08:01:00
Counter value: 269K - 23/10/2020 08:04:21
Counter value: 270K - 23/10/2020 08:07:42
Counter value: 271K - 23/10/2020 08:11:03
Counter value: 272K - 23/10/2020 08:14:24
Counter value: 273K - 23/10/2020 08:17:53
Counter value: 274K - 23/10/2020 08:21:11
Counter value: 275K - 23/10/2020 08:24:16
Counter value: 276K - 23/10/2020 08:27:21
Counter value: 277K - 23/10/2020 08:30:26
Counter value: 278K - 23/10/2020 08:33:30
Counter value: 279K - 23/10/2020 08:36:38
Counter value: 280K - 23/10/2020 08:39:43
Counter value: 281K - 23/10/2020 08:43:04
Counter value: 282K - 23/10/2020 08:46:17
Counter value: 283K - 23/10/2020 08:49:21
Counter value: 284K - 23/10/2020 08:52:28
Counter value: 285K - 23/10/2020 08:55:33
Counter value: 286K - 23/10/2020 08:58:38
Counter value: 287K - 23/10/2020 09:01:42
Counter value: 288K - 23/10/2020 09:04:48
Counter value: 289K - 23/10/2020 09:07:54
Counter value: 290K - 23/10/2020 09:11:12
Counter value: 291K - 23/10/2020 09:14:38
Counter value: 292K - 23/10/2020 09:18:01
Counter value: 293K - 23/10/2020 09:21:13
Counter value: 294K - 23/10/2020 09:24:34
Counter value: 295K - 23/10/2020 09:27:52
Counter value: 296K - 23/10/2020 09:31:06
Counter value: 297K - 23/10/2020 09:34:18
Counter value: 298K - 23/10/2020 09:37:36
Counter value: 299K - 23/10/2020 09:40:54
Counter value: 300K - 23/10/2020 09:44:12
Counter value: 301K - 23/10/2020 09:47:28
Counter value: 302K - 23/10/2020 09:50:48
Counter value: 303K - 23/10/2020 09:54:10
Counter value: 304K - 23/10/2020 09:57:28
Counter value: 305K - 23/10/2020 10:00:45
Counter value: 306K - 23/10/2020 10:04:00
Counter value: 307K - 23/10/2020 10:07:24
Counter value: 308K - 23/10/2020 10:10:55
Counter value: 309K - 23/10/2020 10:14:15
Counter value: 310K - 23/10/2020 10:17:51
Counter value: 311K - 23/10/2020 10:21:17
Counter value: 312K - 23/10/2020 10:24:46
Counter value: 313K - 23/10/2020 10:28:09
Counter value: 314K - 23/10/2020 10:31:31
Counter value: 315K - 23/10/2020 10:35:12
Counter value: 316K - 23/10/2020 10:38:53
Counter value: 317K - 23/10/2020 10:42:36
Counter value: 318K - 23/10/2020 10:46:08
Counter value: 319K - 23/10/2020 10:49:35
Counter value: 320K - 23/10/2020 10:53:04
Counter value: 321K - 23/10/2020 10:56:42
Counter value: 322K - 23/10/2020 11:00:06
Counter value: 323K - 23/10/2020 11:03:26
Counter value: 324K - 23/10/2020 11:06:52
Counter value: 325K - 23/10/2020 11:10:13
Counter value: 326K - 23/10/2020 11:13:37
Counter value: 327K - 23/10/2020 11:17:00
Counter value: 328K - 23/10/2020 11:20:25
Counter value: 329K - 23/10/2020 11:23:53
Counter value: 330K - 23/10/2020 11:27:24
Counter value: 331K - 23/10/2020 11:30:54
Counter value: 332K - 23/10/2020 11:34:19
Counter value: 333K - 23/10/2020 11:37:43
Counter value: 334K - 23/10/2020 11:41:07
Counter value: 335K - 23/10/2020 11:44:32
Counter value: 336K - 23/10/2020 11:47:56
Counter value: 337K - 23/10/2020 11:51:30
Counter value: 338K - 23/10/2020 11:55:04
Counter value: 339K - 23/10/2020 11:58:38
Counter value: 340K - 23/10/2020 12:02:17
Counter value: 341K - 23/10/2020 12:06:08
Counter value: 342K - 23/10/2020 12:10:03
Counter value: 343K - 23/10/2020 12:14:06
Counter value: 344K - 23/10/2020 12:17:54
Counter value: 345K - 23/10/2020 12:22:04
Counter value: 346K - 23/10/2020 12:26:09
Counter value: 347K - 23/10/2020 12:30:19
Counter value: 348K - 23/10/2020 12:34:22
Counter value: 349K - 23/10/2020 12:37:56
Counter value: 350K - 23/10/2020 12:41:29
Counter value: 351K - 23/10/2020 12:45:05

In [ ]:
phraseDF.to_csv('../output/enitityPhrases.tsv', sep='\t', index=False)