# Water enviromental package profiling
This notebooks profiles biosamples indicated as being part of a water-related package.  
Profiling, in this sense, means that descrptive analsyis done on the field types, field values, and amount of missing values.
Steps:
1. Load and subset/slice data
2. Normalize water env_package labels
3. Describe water env_packages. This includes:
  - all water-related packages
  - env_packages labled as 'water'
  - env_packages labled as 'waste water'
  - env_packages labled as 'sea water'
  - env_packages labled as 'Deep-sea water'
  - env_packages labled as 'fresh water'
  - env_packages labled as 'sterile water'
  - env_packages labled as 'Coastal water body (ENVO:02000049)'

In [1]:
import pandas as pds
import numpy as np
import csv

# 1. Load and subset/slice data

### Load non-human dataset created by notebook `build-non-human-samples.ipynb`

In [2]:
df = pds.read_csv('../../target/non-human-samples.tsv.gz', sep='\t', dtype=str, quoting=csv.QUOTE_NONE)
len(df)

45951

### get list of env packages the have the string 'water' in them

In [3]:
waterPackages = [x for x in df.env_package.unique() if 'water' in x.lower()]

In [4]:
waterPackages

['water',
 'MIMARKS_water',
 'MIGS/MIMS/MIMARKS.wastewater',
 'MIGS/MIMS/MIMARKS.water',
 'seawater',
 'wastewater/sludge',
 'wastewater|sludge',
 'wastewater',
 'fresh water',
 'freshwater sediment',
 'sea water',
 'sterile water',
 'Coastal water body (ENVO:02000049)',
 'sea water, [ENVO:00002149]',
 'Water',
 'wastewater sludge',
 'Sea water',
 'Deep-sea water']

### filter out packages containing the strings 'sludge' and 'sediment'

In [5]:
waterPackages = [x for x in waterPackages if 'sludge' not in x.lower()]
waterPackages = [x for x in waterPackages if 'sediment' not in x.lower()]

In [6]:
waterPackages

['water',
 'MIMARKS_water',
 'MIGS/MIMS/MIMARKS.wastewater',
 'MIGS/MIMS/MIMARKS.water',
 'seawater',
 'wastewater',
 'fresh water',
 'sea water',
 'sterile water',
 'Coastal water body (ENVO:02000049)',
 'sea water, [ENVO:00002149]',
 'Water',
 'Sea water',
 'Deep-sea water']

### create slice of data based on water package list

In [7]:
sliceDf = df[df.env_package.isin(waterPackages)]
len(sliceDf)

18615

# 2. Normalize water env_package labels
Some of the evn_packages seem to refer to the same water package, but with syntax variations (e.g. 'Water', 'MIMARKS_water').  
To account for this, create column 'norm_env_package' to hold normalized values and normalize data as follows:
1. Map 'Sea water', 'seawater', 'sea water', 'sea water, [envo:00002149]' to 'sea water'.
2. Map 'wastewater', 'MIGS/MIMS/MIMARKS.wastewater' to 'waste water'
3. Map 'water', 'Water', 'mimarks_water', 'migs/mims/mimarks.water' to 'water'
4. Leave 'Deep-sea water', 'fresh water', 'sterile water', and ''Coastal water body (ENVO:02000049)' as the same values

In [8]:
def mapWaterPackage(val):
    if val in ['Sea water', 'seawater', 'sea water', 'sea water, [ENVO:00002149]']:
        return 'sea water'
    elif val in ['wastewater', 'MIGS/MIMS/MIMARKS.wastewater']:
        return 'waste water'
    elif val in ['water', 'Water', 'MIMARKS_water', 'MIGS/MIMS/MIMARKS.water']:
        return 'water'
    else:
        return val

In [9]:
sliceDf['norm_env_package'] = sliceDf['env_package'].map(lambda x: mapWaterPackage(x))

/Users/wdduncan/repos/INCATools/biosample-analysis/src/.env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### verify all values have been normalized (i.e., counts match) and get counts of packages

In [10]:
sliceDf.norm_env_package.count() == len(sliceDf)

True

In [11]:
sliceDf.groupby('norm_env_package')['norm_env_package'].count().sort_values(ascending=False)

norm_env_package
water                                 18139
waste water                             399
sterile water                            35
fresh water                              27
sea water                                13
Deep-sea water                            1
Coastal water body (ENVO:02000049)        1
Name: norm_env_package, dtype: int64

# 3. Describe all water env_packages

### define some helper functions

In [12]:
def replaceMissingValues(df):
    # many of the missing values have values beginning with 'Missing'; e.g.: Missing: Not provided
    # replace these with NaN
    for idx in df.index:                 # iterate over indexes
        row = df.loc[idx,:]              # get the dataframe row; note: this is of type Pandas Series
        for field in row.index:          # iterate over each field (i.e., series index) and replace 'Missing' with Nan
            val = row[field]
            if not pds.isnull(val) and val.lower()[:7] == 'missing': row[field] = np.nan
    return df

In [13]:
def getReducedDatame(df):
    # many of the missing values have values beginning with 'Missing'; e.g.: Missing: Not provided
    # replace these with NaN so that the decribe function can count properly
    reducedDf = replaceMissingValues(df)
    
    # remove columns from the reduced dataframe that don't have data
    describeDf = df.describe()                   # describe the dataframe
    valueCount = describeDf.loc['count']         # get count row / index
    zeroCount = valueCount[valueCount == 0]      # subset valueCount to those with counts of 0
    zeroCountCols = zeroCount.index              # find the columns with zero counts
    reducedDf = df.drop(zeroCountCols, axis=1)   # drop columns that have counts of 0 (i.e., no data)
    
    return reducedDf

In [14]:
def getDescibeDf(df):
    describeDf = df.describe().transpose()                                                  # describe df; note: the transpose
    describeDf['pct_non_null'] =\
        describeDf['count'].map(lambda x: 0.00 if x == 0 else round((x / len(df)) * 100, 2)) # add column to show the percent of non-null data
    return describeDf

## Desribe all water samples

### get reduced dataframe (i.e., columns with no data removed) and describe

In [15]:
reducedDf = getReducedDatame(sliceDf) 
reducedDescribe = getDescibeDf(reducedDf)

/Users/wdduncan/repos/INCATools/biosample-analysis/src/.env/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### save copy of water-related packages

In [48]:
reducedDf.to_csv('../../target/water-related-samples.tsv.gz', sep='\t', compression='gzip', index=False)

In [49]:
reducedDf.shape

(18615, 97)

In [17]:
pds.set_option('max_rows', None)
reducedDescribe.sort_values(by='pct_non_null', ascending=False)

,count,unique,top,freq,pct_non_null
norm_env_package,18615,7,water,18139,100.00
package,18615,19,Generic.1.0,15933,100.00
taxonomy_name,18615,105,marine metagenome,6530,100.00
taxonomy_id,18615,107,408172,6530,100.00
id,18615,18615,BIOSAMPLE:SAMEA4560813,1,100.00
env_package,18615,14,water,16367,100.00
env_local_scale,18525,539,freshwater lake,2887,99.52
env_broad_scale,18517,314,small lake biome,3264,99.47
env_medium,17753,232,fresh water,5839,95.37
depth,15747,868,5,2167,84.59
geo_loc_name,14219,526,USA:AK,2728,76.38
temp,11495,2946,Missing: Not provided,895,61.75
project_name,9611,339,Tara Oceans expedition (2009-2013),1361,51.63
elev,8246,212,256.05,1505,44.30
collection_date,6753,1303,2011-08,382,36.28
investigation_type,5877,14,metagenome,2445,31.57
salinity,5373,887,Missing: Not provided,2719,28.86
ph,5288,441,Missing: Not provided,1158,28.41
oxygen,4033,425,Missing: Not provided,2522,21.67
phosphate,3948,407,Missing: Not provided,1762,21.21
nitrate,3920,875,Missing: Not provided,1588,21.06
diss_org_carb,3130,885,Missing: Not provided,637,16.81
diss_inorg_carb,3048,961,Missing: Not provided,1326,16.37
lat_lon,3032,826,30.246129 N 88.077521 W,106,16.29
ph_meth,3010,3,Missing: Not provided,2754,16.17
chloride,2875,145,Missing: Not provided,2393,15.44
tot_diss_nitro,2854,99,Missing: Not reported,674,15.33
potassium,2815,251,Missing: Not provided,806,15.12
calcium,2805,1660,Missing: Not provided,806,15.07
sulfate,2795,164,Missing: Not provided,2393,15.01
magnesium,2787,987,Missing: Not provided,806,14.97
sodium,2779,441,Missing: Not provided,806,14.93
diss_oxygen,2763,721,0.1,207,14.84
diss_carb_dioxide,2754,228,Missing: Not provided,1419,14.79
conduc,1476,452,302,32,7.93
silicate,846,529,200microMolePerLiter,24,4.54
chlorophyll,820,230,0.05 microgram per liter,24,4.41
samp_collect_device,803,43,CTD Rosette/Niskin bottle,342,4.31
samp_size,702,39,10 L,334,3.77
density,684,200,27.48 kilogram per cubic meter,17,3.67
ammonium,684,246,Missing:Not provided,69,3.67
nitrite,631,142,&lt;0.03 (below detection),38,3.39
host_taxid,572,12,408172,370,3.07
samp_mat_process,533,21,3.0 micron prefiltered at 0ÃÂ°C and preservat...,328,2.86
tot_depth_water_col,505,101,41.45meter,24,2.71
samp_store_temp,499,8,-80 degrees Celcius,328,2.68
samp_store_loc,466,5,"DRI, Murray lab",328,2.50
wind_speed,366,59,3.08,31,1.97
oxy_stat_samp,341,2,aerobic,337,1.83
phaeopigments,281,19,0.01 microgram per liter,66,1.51
atmospheric_data,255,31,No sea ice,34,1.37
fluor,215,107,0.99 mgm-3,10,1.15
rel_to_oxygen,179,12,oxic,59,0.96
samp_store_dur,158,14,6 months,49,0.85
ref_biomaterial,139,19,"Acinetobacter, Aeromonas, and Trichococcus pop...",36,0.75
part_org_carb,134,94,44.63microMolePerLiter,6,0.72
part_org_nitro,134,89,1.57microMolePerLiter,6,0.72
organism_count,120,10,zooplankton individuals per liter,48,0.64
isol_growth_condt,118,26,not applicable,33,0.63
pressure,108,13,8.2 db,12,0.58
turbidity,102,48,1.07 NTU,10,0.55
alkalinity,99,49,2162.283333,6,0.53
experimental_factor,97,14,seasonal/depth,61,0.52
nitro,93,63,0.0,9,0.50
primary_prod,80,65,Missing: Not collected,14,0.43
misc_param,78,3,For accompanying metadata and related data pro...,48,0.42
org_nitro,72,38,Missing: Not collected,24,0.39
tot_nitro,72,23,26 mg/l,10,0.39
org_carb,72,42,Missing: Not collected,24,0.39
salinity_meth,68,2,Missing:Not reported,56,0.37
tot_phosp,65,22,1.0 mg/l,10,0.35
light_intensity,65,27,5338,6,0.35
bacteria_carb_prod,60,6,112.48 pmol leu/L/hr,10,0.32
samp_salinity,59,5,8,49,0.32
perturbation,53,26,B1: control microcosm incubation (no additions),6,0.28
redox_potential,50,44,398,3,0.27
diss_org_nitro,49,9,11.58microMolePerLiter,6,0.26
host_height,37,2,not applicable,28,0.20
host_age,36,2,not applicable,28,0.19
num_replicons,34,6,1,25,0.18
tot_carb,30,27,2200.6,2,0.16
heavy_metals_meth,27,1,"Palacios C, Zettler E, Amils R, Amaral-Zettler...",27,0.15
samp_vol_we_dna_ext,24,2,10 L,14,0.13
tot_part_carb,22,22,354.352,1,0.12
ploidy,16,3,diploid,9,0.09
carb_nitro_ratio,14,14,4.286284136,1,0.08
biotic_relationship,13,1,free living,13,0.07
trophic_level,13,4,photosynthetic,9,0.07
host_life_stage,12,2,Not applicable,8,0.06
extreme_salinity,12,6,95,3,0.06
suspend_part_matter,10,10,2.510^61.210^6 VLPs mlÃ¢ÂÂ1,1,0.05
propagation,8,4,21360359,5,0.04
estimated_size,8,4,10,5,0.04
slope_aspect,3,1,North west,3,0.02
biomass,2,2,500g sponge material,1,0.01
n_alkanes,1,1,2400 ppm,1,0.01
tidal_stage,2,1,low,2,0.01

## Describe env_packages labled as 'water'

In [18]:
waterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'water'].copy()) # note: a copy of the dataframe is being used
waterDescribe = getDescibeDf(waterDf)

In [19]:
waterDf.shape

(18139, 96)

In [20]:
waterDescribe.sort_values(by='pct_non_null', ascending=False)

,count,unique,top,freq,pct_non_null
norm_env_package,18139,1,water,18139,100.00
env_package,18139,4,water,16367,100.00
package,18139,13,Generic.1.0,15856,100.00
taxonomy_name,18139,85,marine metagenome,6530,100.00
taxonomy_id,18139,87,408172,6530,100.00
id,18139,18139,BIOSAMPLE:SAMEA4560813,1,100.00
env_broad_scale,18050,257,small lake biome,3264,99.51
env_local_scale,18039,440,freshwater lake,2887,99.45
env_medium,17304,198,fresh water,5829,95.40
depth,15564,858,5,2167,85.80
geo_loc_name,13702,459,USA:AK,2728,75.54
temp,10547,2929,13,184,58.15
project_name,9259,283,Tara Oceans expedition (2009-2013),1361,51.04
elev,8171,208,256.05,1505,45.05
collection_date,6295,1138,2011-08,382,34.70
investigation_type,5477,14,metagenome,2072,30.19
ph,4010,428,7.5,164,22.11
diss_oxygen,2585,719,0.1,207,14.25
salinity,2581,883,32,216,14.23
lat_lon,2563,711,30.246129 N 88.077521 W,106,14.13
diss_org_carb,2493,884,421,15,13.74
nitrate,2260,872,0,101,12.46
tot_diss_nitro,2180,98,14,259,12.02
phosphate,2094,382,0,738,11.54
potassium,2009,250,6.6,49,11.08
calcium,1999,1659,103.7,5,11.02
magnesium,1981,986,72.2,9,10.92
sodium,1971,439,8.4,23,10.87
diss_inorg_carb,1722,960,nd,11,9.49
oxygen,1511,424,9.4,28,8.33
conduc,1468,444,302,32,8.09
diss_carb_dioxide,1335,227,27,41,7.36
silicate,846,529,200microMolePerLiter,24,4.66
chlorophyll,820,230,0.05 microgram per liter,24,4.52
samp_collect_device,798,40,CTD Rosette/Niskin bottle,342,4.40
samp_size,697,38,10 L,334,3.84
density,682,199,27.48 kilogram per cubic meter,17,3.76
nitrite,631,142,&lt;0.03 (below detection),38,3.48
ammonium,615,245,0.51 micro molar,12,3.39
samp_mat_process,517,18,3.0 micron prefiltered at 0ÃÂ°C and preservat...,328,2.85
host_taxid,508,9,408172,370,2.80
tot_depth_water_col,505,101,41.45meter,24,2.78
chloride,482,144,0.4,16,2.66
samp_store_temp,459,5,-80 degrees Celcius,328,2.53
samp_store_loc,440,3,"DRI, Murray lab",328,2.43
sulfate,402,163,5.9,12,2.22
wind_speed,366,59,3.08,31,2.02
oxy_stat_samp,328,1,aerobic,328,1.81
phaeopigments,281,19,0.01 microgram per liter,66,1.55
atmospheric_data,255,31,No sea ice,34,1.41
fluor,209,106,0.28 mgm-3,10,1.15
ph_meth,200,1,electrode,200,1.10
rel_to_oxygen,160,10,oxic,59,0.88
samp_store_dur,146,8,6 months,49,0.80
part_org_carb,134,94,44.63microMolePerLiter,6,0.74
part_org_nitro,134,89,1.57microMolePerLiter,6,0.74
organism_count,120,10,zooplankton individuals per liter,48,0.66
pressure,108,13,8.2 db,12,0.60
alkalinity,99,49,2162.283333,6,0.55
experimental_factor,97,14,seasonal/depth,61,0.53
nitro,93,63,0.0,9,0.51
turbidity,84,30,1.07 NTU,10,0.46
isol_growth_condt,81,10,10.1128/AEM.06330-11,26,0.45
misc_param,78,3,For accompanying metadata and related data pro...,48,0.43
light_intensity,65,27,5338,6,0.36
primary_prod,66,64,120.1,2,0.36
tot_nitro,62,22,37.8microMolePerLiter,6,0.34
bacteria_carb_prod,60,6,112.48 pmol leu/L/hr,10,0.33
ref_biomaterial,59,10,DNA,19,0.33
tot_phosp,55,21,0.91microMolePerLiter,6,0.30
perturbation,53,26,B1: control microcosm incubation (no additions),6,0.29
redox_potential,50,44,398,3,0.28
samp_salinity,49,1,8,49,0.27
diss_org_nitro,49,9,11.58microMolePerLiter,6,0.27
org_carb,48,41,359,3,0.26
org_nitro,48,37,64,3,0.26
host_height,37,2,not applicable,28,0.20
host_age,36,2,not applicable,28,0.20
tot_carb,30,27,2200.6,2,0.17
num_replicons,27,3,1,21,0.15
heavy_metals_meth,27,1,"Palacios C, Zettler E, Amils R, Amaral-Zettler...",27,0.15
tot_part_carb,22,22,354.352,1,0.12
samp_vol_we_dna_ext,14,1,10 L,14,0.08
carb_nitro_ratio,14,14,4.286284136,1,0.08
salinity_meth,12,1,refractometer,12,0.07
host_life_stage,12,2,Not applicable,8,0.07
extreme_salinity,12,6,95,3,0.07
suspend_part_matter,10,10,2.510^61.210^6 VLPs mlÃ¢ÂÂ1,1,0.06
ploidy,6,1,diploid,6,0.03
propagation,6,2,21360359,5,0.03
estimated_size,6,2,10,5,0.03
slope_aspect,3,1,North west,3,0.02
biomass,2,2,500g sponge material,1,0.01
n_alkanes,1,1,2400 ppm,1,0.01
biotic_relationship,1,1,free living,1,0.01
tidal_stage,2,1,low,2,0.01

## Describe env_packages labled as 'waste water'

In [21]:
wasteWaterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'waste water'].copy()) # note: a copy of the dataframe is being used
wasteWaterDescribe = getDescibeDf(wasteWaterDf)

In [22]:
wasteWaterDf.shape

(399, 38)

In [23]:
wasteWaterDescribe.sort_values(by='pct_non_null', ascending=False)

,count,unique,top,freq,pct_non_null
norm_env_package,399,1,waste water,399,100.00
taxonomy_id,399,20,527639,201,100.00
env_medium,399,35,water,119,100.00
env_broad_scale,399,56,activated sludge,66,100.00
id,399,399,BIOSAMPLE:SAMN02261241,1,100.00
env_local_scale,399,96,sludge,63,100.00
taxonomy_name,399,20,wastewater metagenome,201,100.00
env_package,399,2,MIGS/MIMS/MIMARKS.wastewater,385,100.00
package,399,7,MIMS.me.wastewater.5.0,363,100.00
collection_date,396,185,Apr-2013,36,99.25
geo_loc_name,395,68,Singapore: Ulu pandan,58,99.00
investigation_type,389,5,metagenome,373,97.49
lat_lon,364,111,1.3667 N 103.8 E,58,91.23
project_name,331,52,Geographic Sewage Study,77,82.96
ref_biomaterial,78,7,"Acinetobacter, Aeromonas, and Trichococcus pop...",36,19.55
ph,52,36,8.5,8,13.03
samp_store_temp,40,5,-20,24,10.03
depth,36,6,surface,22,9.02
temp,34,26,35,4,8.52
samp_store_loc,26,2,Freezer,24,6.52
isol_growth_condt,24,7,not applicable,16,6.02
phosphate,22,22,2.5071,1,5.51
turbidity,18,18,9.1,1,4.51
rel_to_oxygen,16,3,aerobic,7,4.01
samp_mat_process,15,2,0.2 micrometer membrane filtration,10,3.76
oxy_stat_samp,13,2,aerobic,9,3.26
samp_store_dur,12,6,8 hours,2,3.01
samp_vol_we_dna_ext,10,1,50 ml,10,2.51
tot_phosp,10,1,1.0 mg/l,10,2.51
samp_salinity,10,4,10000 mg per L,4,2.51
tot_nitro,10,1,26 mg/l,10,2.51
conduc,8,8,0.215,1,2.01
samp_size,5,1,200 mg,5,1.25
num_replicons,4,2,1,3,1.00
samp_collect_device,3,1,airtight plastic container,3,0.75
sodium,2,1,931 mg per L,2,0.50
elev,1,1,unknow,1,0.25
propagation,1,1,lytic phage propagated in Brucella abortus Str...,1,0.25

## Describe env_packages labled as 'sea water'

In [30]:
seaWaterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'sea water'].copy()) # note: a copy of the dataframe is being used
seaWaterDescribe = getDescibeDf(seaWaterDf)

In [31]:
seaWaterDf.shape

(13, 26)

In [32]:
seaWaterDescribe.sort_values(by='pct_non_null', ascending=False)

,count,unique,top,freq,pct_non_null
norm_env_package,13,1,sea water,13,100.00
package,13,3,Generic.1.0,11,100.00
env_local_scale,13,4,intertidal zone,9,100.00
taxonomy_id,13,4,1262161,9,100.00
taxonomy_name,13,4,Pyropia haitanensis,9,100.00
id,13,13,BIOSAMPLE:SAMN01818488,1,100.00
geo_loc_name,13,4,China: Fujian Province,9,100.00
env_package,13,4,seawater,9,100.00
isol_growth_condt,11,9,"21C, 50 mol photons m2 s1 (12L:13D)",2,84.62
collection_date,11,3,19-Mar-2012,9,84.62
trophic_level,11,3,photosynthetic,9,84.62
biotic_relationship,10,1,free living,10,76.92
project_name,10,2,Characterization of the global transcriptome f...,9,76.92
investigation_type,10,2,eukaryote,9,76.92
ploidy,9,2,haploid,6,69.23
env_broad_scale,4,3,estuarine biome,2,30.77
depth,4,3,0,2,30.77
elev,2,1,0,2,15.38
host_taxid,2,1,1561972,2,15.38
rel_to_oxygen,2,2,facultative,1,15.38
env_medium,2,2,"water, [ENVO:00002006]",1,15.38
lat_lon,2,2,34.45 N 126.78 E,1,15.38
num_replicons,1,1,2,1,7.69
ref_biomaterial,1,1,PMID: 19671726,1,7.69
estimated_size,1,1,2724951,1,7.69
temp,1,1,15 to 37 C,1,7.69

## Describe env_packages labled as 'Deep-sea water'

In [34]:
deepSeaWaterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'Deep-sea water'].copy()) # note: a copy of the dataframe is being used
deepSeaWaterDescribe = getDescibeDf(deepSeaWaterDf)

In [35]:
deepSeaWaterDf.shape

(1, 21)

In [36]:
deepSeaWaterDescribe

,count,unique,top,freq,pct_non_null
num_replicons,1,1,1,1,100.0
env_package,1,1,Deep-sea water,1,100.0
geo_loc_name,1,1,Indian Ocean,1,100.0
biotic_relationship,1,1,free living,1,100.0
project_name,1,1,Complete genome sequence of Alcanivorax sp. IO_7,1,100.0
salinity,1,1,0Ã¢ÂÂ15% (optimum at 3.5%),1,100.0
investigation_type,1,1,bacteria_archaea,1,100.0
collection_date,1,1,2017,1,100.0
temp,1,1,5Ã¢ÂÂ40Ã¢ÂÂ¯ÃÂ°C (optimum at 28Ã¢ÂÂ¯ÃÂ°C),1,100.0
env_broad_scale,1,1,Sea [ENVO:00000016],1,100.0
env_local_scale,1,1,Sea water environment [ENVO:01000321],1,100.0
env_medium,1,1,Sea water [ENVO:00002149 ],1,100.0
samp_collect_device,1,1,CTD-rosette water sampler,1,100.0
lat_lon,1,1,27.75 S 63.80 E,1,100.0
depth,1,1,3980Ã¢ÂÂ¯m,1,100.0
trophic_level,1,1,heterotroph,1,100.0
id,1,1,BIOSAMPLE:SAMN14884473,1,100.0
taxonomy_id,1,1,2735303,1,100.0
taxonomy_name,1,1,Alcanivorax sp. IO_7,1,100.0
package,1,1,MIGS.ba.5.0,1,100.0
norm_env_package,1,1,Deep-sea water,1,100.0

## Describe env_packages labled as 'fresh water'

In [37]:
freshWaterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'fresh water'].copy()) # note: a copy of the dataframe is being used
freshWaterDescribe = getDescibeDf(freshWaterDf)

In [38]:
freshWaterDf.shape

(27, 13)

In [39]:
freshWaterDescribe

                 count unique                     top freq  pct_non_null
env_package         27      1             fresh water   27        100.00
host_taxid          27      4                    4530   10        100.00
geo_loc_name        27      2                     USA   17        100.00
elev                27      2                       0   17        100.00
env_broad_scale     27      2         estuarine biome   17        100.00
env_local_scale     27      2       large river biome   17        100.00
env_medium          10      1             fresh water   10         37.04
depth               27      1                       0   27        100.00
id                  27     27  BIOSAMPLE:SAMEA4036406    1        100.00
taxonomy_id         27      3                  449393   16        100.00
taxonomy_name       27      3   freshwater metagenome   16        100.00
package             27      1             Generic.1.0   27        100.00
norm_env_package    27      1             fresh water   27        100.00

## Describe env_packages labled as 'sterile water'

In [40]:
sterileWaterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'sterile water'].copy()) # note: a copy of the dataframe is being used
sterileWaterDescribe = getDescibeDf(sterileWaterDf)

In [41]:
sterileWaterDf.shape

(35, 14)

In [42]:
sterileWaterDescribe

                 count unique                     top freq  pct_non_null
env_package         35      1           sterile water   35         100.0
host_taxid          35      1                  256318   35         100.0
geo_loc_name        35      1              Costa Rica   35         100.0
elev                35      1                    1656   35         100.0
collection_date     35      1     2050-01-01 00:00:00   35         100.0
env_broad_scale     35      1             urban biome   35         100.0
env_local_scale     35      1       research facility   35         100.0
env_medium          35      1           sterile water   35         100.0
depth               35      1                       0   35         100.0
id                  35     35  BIOSAMPLE:SAMEA4083307    1         100.0
taxonomy_id         35      1                  256318   35         100.0
taxonomy_name       35      1              metagenome   35         100.0
package             35      1             Generic.1.0   35         100.0
norm_env_package    35      1           sterile water   35         100.0

## Describe env_packages labled as 'Coastal water body (ENVO:02000049)'

In [43]:
costalWaterDf = getReducedDatame(reducedDf[reducedDf.norm_env_package == 'Coastal water body (ENVO:02000049)'].copy()) # note: a copy of the dataframe is being used
costalWaterDescribe = getDescibeDf(costalWaterDf)

In [44]:
costalWaterDf.shape

(1, 19)

In [45]:
costalWaterDescribe

,count,unique,top,freq,pct_non_null
rel_to_oxygen,1,1,aerobe,1,100.0
env_package,1,1,Coastal water body (ENVO:02000049),1,100.0
propagation,1,1,binary fission,1,100.0
samp_mat_process,1,1,Stored in the dark at 4ÃÂ°C until cyst germin...,1,100.0
geo_loc_name,1,1,South Korea: Shiwha,1,100.0
biotic_relationship,1,1,free living,1,100.0
collection_date,1,1,Sep-2010,1,100.0
temp,1,1,21.3 C,1,100.0
env_broad_scale,1,1,Sea coast (ENVO:00000303),1,100.0
env_local_scale,1,1,Sea floor (ENVO:00000482),1,100.0
env_medium,1,1,seawater,1,100.0
samp_collect_device,1,1,Ekman grab,1,100.0
lat_lon,1,1,37.18 N 126.36 E,1,100.0
trophic_level,1,1,mixotroph,1,100.0
id,1,1,BIOSAMPLE:SAMN05904655,1,100.0
taxonomy_id,1,1,1872691,1,100.0
taxonomy_name,1,1,Ansanella granifera,1,100.0
package,1,1,MIGS.eu.water.5.0,1,100.0
norm_env_package,1,1,Coastal water body (ENVO:02000049),1,100.0